@model zasz.me.Models.Post
<span class="Admin-Title">Delineate the Thoughts</span>
 
<input type="hidden" name="Slug" value="@Model.Slug"/>

@{
    ViewBag.EditorName = "PostContent";
    ViewBag.Submit = "/Blog/Manage";
    ViewBag.Content = Model.Content;
}

<div style="margin: 0 auto; width: 90%;">
    @Html.Partial("~/Views/Shared/_CKEditor.cshtml")
</div>

<div style="margin: 0 auto; width: 20%;">
    <input type="submit" value="Publish" />
</div>


@section Right{

    <div class="Admin-Title">Post Fields</div>
    <table class="Control-Panel">
        <tr>
            <td>Tags : </td>
            <td><input type="text" name="Tags" value="@Model.TagsLine"/></td>
        </tr>

        <tr>
            <td colspan="2">@Html.ValidationMessageFor(x => x.Title)</td>
        </tr>

        <tr>
            <td>Title : </td>
            <td><input type="text" name="Title" value="@Model.Title"/></td>
        </tr>


    </table>
}