@using zasz.me.Shared.Models
@model Post
<span class="Admin-Title">Delineate the Thoughts</span>
 
<input type="hidden" name="Slug" value="@Model.Slug"/>

@{
    ViewBag.EditorName = "PostContent";
    ViewBag.Submit = "/Blog/Manage";
    ViewBag.Content = Model.Content;
}

<div style="width: 90%; margin: 0 auto;">
    @Html.Partial("~/Shared/Views/Shared/_CKEditor.cshtml")
</div>

<div style="width: 20%; margin: 0 auto;">
    <input type="submit" value="Publish" />
</div>


@section Right{

<div class="Admin-Title">Post Fields</div>
<table class="Control-Panel">

<tr>
<td colspan="2">@Html.ValidationMessageFor(X => X.Site) </td>
</tr>

<tr>
<td>Site : </td>
<td>@Html.DropDownList("ChosenSite",
        new [] {Site.PRO, Site.REST, Site.SHARED}
        .Select(Name => new SelectListItem()
        {
            Text = Name,
            Value = Name,
            Selected = Name.Equals(Model.Site.Name, StringComparison.InvariantCultureIgnoreCase)
        })
    )
</td>
</tr>

<tr>
<td>Tags : </td>
<td><input type="text" name="Tags" value="@Model.TagsLine"/></td>
</tr>

<tr>
<td colspan="2">@Html.ValidationMessageFor(X => X.Title)</td>
</tr>

<tr>
<td>Title : </td>
<td><input type="text" name="Title" value="@Model.Title"/></td>
</tr>


</table>
}

