@model int

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>StackTack - @Model</title>
        <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"> </script>
        <link href="@Url.Content("~/Content/Stacktack.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/stacktack.js")" type="text/javascript" ></script>
        <script type="text/javascript" >
            $(function () {
                $('#Tackz').stacktack({ width: '900px', stylesheet: '@Url.Content("~/Content/Stacktack.css")' });
        });
    </script> 
    </head>
    <body id="Tackz">
        <div id='stacktack-@Model'></div>
    </body>
</html>