@using zasz.me
@model zasz.me.ViewModels.TinkerModel
@{
    ViewBag.Title = "Tinker";
    var attribs = new {@class = "TextBox"};
    var attribsArea = new {@class = "TextArea", rows = 10};
}
@section Head
{
    <script type="text/javascript">
        $(function() {
            var outputControlContent = $('#OutputControl').html();
            var jPickerConfig = {
                window: {
                    expandable: true,
                    title: 'Pick Background Color',
                    alphaSupport: true
                },
                color: {
                                        
                },
                images: {
                    clientPath: '/Content/jPicker/Images/'
                }
            };
            $('#ForegroundExpandable').jPicker(jPickerConfig);
            $('#BackgroundExpandable').jPicker(jPickerConfig);
            @{
                var foreColor = (!string.IsNullOrEmpty(Model.ForegroundColor)) ? Model.ForegroundColor : "FF0000FF";
                var backColor = (!string.IsNullOrEmpty(Model.BackgroundColor)) ? Model.BackgroundColor : "FFFFFFFF";
            };
            $.jPicker.List[0].color.active.val('ahex', '@foreColor');
            $.jPicker.List[1].color.active.val('ahex', '@backColor');

            $('#RunDisorganizer').click(function() {
                var formValid = $("#DisorganizerTinker").valid();
                if (!formValid) return false;
                var serialized = $('#DisorganizerTinker').serialize();
                $('#OutputControl').html(outputControlContent);
                $('#TheDisorganized').replaceWith(
                    '<img id="TheDisorganized" class="TheDisorganized" src="/Disorganizer/Cloud?dummy='
                        + new Date().getTime() + '&' + serialized +
                        '" alt="Tag cloud" onload="return getLinks();" />');
                return false;
            });
        });

        function getLinks() {
            $.get('/Disorganizer/Links', function(links) {
                $('#TagCloudLinks').replaceWith(links);
            });
        }

    </script>
    <style type="text/css">
        .Field { display: inline-block; }

        select { width: 241px !important; }

        .TheDisorganized { position: relative; }

        .OutputControl {
            display: block;
            text-align: center;
            width: 100%;
        }

        input[type="checkbox"] { margin-right: 20px; }
    </style>
}
@using (Html.BeginForm("Cloud", "Disorganizer", FormMethod.Post, new {id = "DisorganizerTinker"}))
{
    <div style="text-align: center">
        
        <div class="Field">
            Words
            @Html.ValidationMessageFor(x => x.Words)<br />
            @Html.TextAreaFor(x => x.Words, attribsArea)
        </div>
        <br />
        <div class="Field">
            Max Font Size
            @Html.ValidationMessageFor(x => x.MaxFontSize)<br />
            @Html.TextBoxFor(x => x.MaxFontSize, attribs)
        </div>
        <div class="Field">
            Min Font Size
            @Html.ValidationMessageFor(x => x.MinFontSize)<br />
            @Html.TextBoxFor(x => x.MinFontSize, attribs)
        </div>
        <br />
        <div class="Field">
            Width
            @Html.ValidationMessageFor(x => x.Width)<br />
            @Html.TextBoxFor(x => x.Width, attribs)
        </div>
        <div class="Field">
            Height
            @Html.ValidationMessageFor(x => x.Height)<br />
            @Html.TextBoxFor(x => x.Height, attribs)
        </div>
        <br />
        <div>
            Note : Angle will break CSS hover animation</div>
        <div class="Field">
            Angle
            @Html.ValidationMessageFor(x => x.Angle)<br />
            @Html.TextBoxFor(x => x.Angle, attribs)
        </div>
        <div class="Field">
            Font<br />
            @Html.DropDownListFor(x => x.SelectedFont, Model.Fonts.ToSelectList(), attribs)
        </div>
        <br />
        <div class="Field">
            Display Strategy<br />
            @Html.DropDownListFor(x => x.SelectedStrategy, Model.Strategies.ToSelectList(), attribs)
        </div>
        <div class="Field">
            Theme<br />
            @Html.DropDownListFor(x => x.SelectedTheme, Model.Themes.ToSelectList(), attribs)
        </div>
        <br />
        <div class="Field">
            Style<br />
            @Html.DropDownListFor(x => x.SelectedStyle, Model.Styles.ToSelectList(), attribs)
        </div>
        <div class="Field">
            Margin
            @Html.ValidationMessageFor(x => x.Margin)<br />
            @Html.TextBoxFor(x => x.Margin, attribs)
        </div>
        <div>
            Note : Click on the smaller box to pick the color. Choice of theme will affect colors,
            for example LightBg theme and black background will become gray. So will Darkbg
            and white.</div>
        <div class="Field">
            Background Color<br />
            @Html.TextBoxFor(x => x.BackgroundColor, new {id = "BackgroundExpandable", @class = "TextBox", style = "width: 190px"})
        </div>
        <div class="Field">
            Foreground Color<br />
            @Html.TextBoxFor(x => x.ForegroundColor, new {id = "ForegroundExpandable", @class = "TextBox", style = "width: 190px"})
        </div>
        <br />
        <div>
            Note : If there is not enough space in the image to place all the words, the skipped
            words will appear here. Increase spiral room only when performance is bad on your
            server.</div>
        <div class="Field">
            Words skipped (Dont fill this)<br />
            <input type="text" id="Skipped" class="TextBox"/>
        </div>
        <div class="Field">
            Spiral Room (Fill only for performance)
            @Html.ValidationMessageFor(x => x.SpiralRoom)<br />
            @Html.TextBoxFor(x => x.SpiralRoom, attribs)
        </div>
        <br />
        <div class="Field">
            Crop
            @Html.CheckBoxFor(x => x.Crop)
        </div>
        <div class="Field">
            Vertical Text Right
            @Html.CheckBoxFor(x => x.VerticalTextRight)
        </div>
        <div class="Field">
            Show Boundaries
            @Html.CheckBoxFor(x => x.ShowBoundaries)
        </div>
        <br />
        <br />
        <div class="Field">
            <input type="button" value="Generate" id="RunDisorganizer" class="Button" />
        </div>
    </div>
}

<div class="Sidebar-Control">
    <div class="Sidebar-Title">
        Disorganizer&trade;</div>
    <div class="OutputControl" id="OutputControl">
        <div style="display: inline-block;">
            <div id="TagCloudLinks"></div>
            <div id="TheDisorganized"></div>
        </div>
    </div>
    <div class="Description" id='GeneratedTime'></div>
</div>

<div id='TagAlert' style="display: none; width: 200px" class="Pro-Popup">	
    <h1 class="Sidebar-Title" style="text-align: center;">Disorganizer&trade;</h1>
    <p id='DialogContent' style="text-align: center; width: 100%"></p>
</div>