@model zasz.me.Areas.Shared.Models.Post
           
<div class="Post">

<a class="Post-Title" href="/Writings/Post/@Model.Slug">@Model.Title</a>
<div class="Metadata">Posted by Chandru on @Model.Timestamp.ToString("f")</div>
<p>@Model.GetDescription(ViewBag.DescriptionLength)  &nbsp;&nbsp; <a class="Normal-Link" href="/Writings/Post/@Model.Slug">Read the full entry</a></p>


<span>Tagged : </span>
<ul class="Tags">
@foreach (zasz.me.Areas.Shared.Models.Tag Tag in Model.Tags)
{
    <li><a href="/Writings/Tag/@Tag.Name">@Tag.Name</a></li>
}
</ul>
<br />
<span>Manage :</span>
<a href="/Writings/Edit/@Model.Slug" class="Normal-Link">Edit</a>
<a href="/Writings/Delete/@Model.Slug" class="Normal-Link">Delete</a>
<br />
<a class="Normal-Link" href="/Writings/Post/@Model.Slug#disqus_thread" data-disqus-identifier="@Model.Slug">Comments And Reactions</a>

</div>
