@model zasz.me.Areas.Shared.Models.Post
<span class="Admin-Title">Delineate the Thoughts</span>
 
<input type="hidden" name="Slug" value="@Model.Slug"/>

@{
    ViewBag.EditorName = "PostContent";
    ViewBag.Submit = "/Writings/Manage";
    ViewBag.Content = Model.Content;
}

<div style="width: 90%; margin: 0 auto;">
    @Html.Partial("~/Areas/Shared/Views/Shared/_CKEditor.cshtml")
</div>

<div style="width: 20%; margin: 0 auto;">
    <input type="submit" value="Publish" />
</div>


@section Right{

<div class="Admin-Title">Post Fields</div>

<div>Site : </div> @Html.ValidationMessageFor(X => X.Site)
@Html.DropDownList("ChosenSite",
                    Enum.GetNames(typeof(zasz.me.Areas.Shared.Models.Domain))
                    .Select(Name => new SelectListItem()
                    {
                        Text = Name,
                        Value = Name,
                        Selected = Name.Equals(Model.Site.Name, StringComparison.InvariantCultureIgnoreCase)
                    })
                )

<div>Tags : </div> 
<input type="text" name="Tags" value="@Model.TagsLine"/>


<div>Title : </div> @Html.ValidationMessageFor(X => X.Title)
<input type="text" name="Title" value="@Model.Title"/>

}

