@model zasz.me.Areas.Shared.Controllers.UploadsController.BrowseViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Browse uploads</title>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <style type="text/css">
        .item
        {
            cursor: default;
            float: left;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            width: 100px;
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            -moz-border-radius-bottomleft: 4px;
            -moz-border-radius-bottomright: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            background: #FFFFFF none repeat scroll 0 0;
            border: 1px solid #AAAAAA;
            margin: 3px;
            padding: 4px;
            font-size: 11px;
        }
        
        .item:hover
        {
            background: #ddebf8;
            border-color: #a7bed7;
        }
        
        .item .thumbnail
        {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: transparent none no-repeat scroll center center;
            height: 100px;
            width: 100px;
        }
        
        .browser
        {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            -moz-border-radius-bottomleft: 6px;
            -moz-border-radius-bottomright: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            background: #F8F7F6 none repeat scroll 0 0;
            border: 1px solid #ADABA9;
            float: left;
            margin: 0 4px 0 0;
            min-height: 600px;
            height: 100%;
            width: 100%;
        }
        
        .delete
        {
            text-decoration: none;
            padding: 2px;
            height: 20px;
            width: 100px;
            text-align:center;
            color: Red;
        }
        
        .delete:hover
        {
            text-decoration: underline;
        }
    </style>

    <script type="text/javascript">
    function returnFile(URL) {
        window.opener.CKEDITOR.tools.callFunction(@Model.CkEditorFuncNum, URL, '@Model.Message');
        window.close();
    }

    function deleteFile(File,Id) {
    $.ajax({
      url: "/Shared/Uploads/Delete?File=" + File,
      context: document.body,
      type:'POST',
      success: function() {document.getElementById(Id).style.display = 'none';},
      statusCode: 
      {
        408: function() { alert('Try later, file in use.'); },
        404: function() { alert('Server Error - Its logged, It will be taken care of soon.'); }
      }
      
    });    
    }
    </script>
</head>
<body>
    <div class="browser">
        @for (int i = 0; i < Model.ThumbsAndFiles.Count(); i++)
        {
            var Pair = Model.ThumbsAndFiles[i];
            <div class="item" id="item-@i" style="display:block;">
                <div class="thumbnail">
                    <img src="@Pair.One" alt="@Pair.One" onclick="returnFile('@Pair.Other');" />
                </div>
                <div>@Path.GetFileName(Pair.Other)</div>
                <a class="delete" href="javascript:void(0);" onclick="deleteFile('@Pair.Other','item-@i')"> Delete</a>
            </div>
        }
    </div>
</body>
</html>
