@model zasz.me.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Form";
    var boxAttribs = new {@class = "ProTextBox"};
    var areaAttribs = new {@class = "ProTextArea", rows = 10};

}

<div style="margin: 20px 40px">
    <h2> You can reach me by submiting this form, I will respond to it as soon as possible.</h2>
    <br />
    @using (Html.BeginForm(
        null, null, FormMethod.Post,
        new {@action = "/Contact/Mail"}
        ))
    {
        <fieldset>        
            <p>
                @Html.LabelFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)<br />
                @Html.TextBoxFor(x => x.Name, boxAttribs)<br />
            </p>
    
            <p>
                @Html.LabelFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)<br />
                @Html.TextBoxFor(x => x.Email, boxAttribs)<br />
            </p>

            <p>
                @Html.LabelFor(x => x.Website)
                @Html.ValidationMessageFor(x => x.Website)<br />
                @Html.TextBoxFor(x => x.Website, boxAttribs)
                <br />
            </p>

            <p>
                @Html.LabelFor(x => x.Message)
                @Html.ValidationMessageFor(x => x.Message)<br />
                @Html.TextAreaFor(x => x.Message, areaAttribs)<br />
            </p>    
        </fieldset>
        <input type="submit" class="Pro-Button" value="Send Mail"/>
    }
</div>

@section Right{
    <div class="Sidebar-Control">
    </div>
}