@model zasz.me.Models.Post
<div class="Post">

    <a class="Post-Title" href="@Url.Action("Post", "Blog")/@Model.Slug">@Model.Title</a>
    <div class="Metadata">@Model.Timestamp.ToString("f")</div>
    <p>@Html.Raw(Model.GetDescription(ViewBag.DescriptionLength))  &nbsp;&nbsp; <a href="@Url.Action("Post", "Blog")">More</a></p>
</div>