@using zasz.me.HtmlHelpers
@model zasz.me.Models.Post
<div class="Post">
    <a class="Post-Title" href="@Url.Action("Post", "Blog")/@Model.Slug">@Model.Title</a>
    <div class="Date">@Model.Timestamp.ToString("f")</div>
    <div class="Post-Content">
        <img src="@Model.ThumbnailLink(Url)" alt="@Model.Title" class="Anchor"/>
        @Html.Raw(Model.Content)
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="StackLeft" style="margin: 20px 0px;">
            <div class="Prominant">manage</div>
            <a href="@Url.Action("Delete", "Blog")/@Model.Slug">hide</a>
        </div>
    }
    <div class="Post-Footer">
        @if (Model.Tags.Count == 0)
        {
            <span>No tags!</span>
        }
        else
        {
            <span>Tagged </span>
            <ul class="Tags">
                @foreach (var tag in Model.Tags)
                {
                    <li><a href="@Url.Action("Tag", "Blog")/@tag.Name">@tag.Name</a></li>
                }
            </ul>
        }
        &nbsp;|&nbsp; <a href="@Model.Permalink(Url)">Permalink</a>
        <table style="margin-top: 5px;">
            <tr>
                <td>@Html.FacebookLike(Model.Permalink(Url))</td>
                <td>@Html.Tweet(Model.Permalink(Url), Model.Title + " -Chandru")</td>
            </tr>
        </table>
    </div>
</div>
