@using zasz.me.HtmlHelpers
@model zasz.me.ViewModels.PostListViewModel
@{
    ViewBag.Title = "Posts";
    ViewBag.DescriptionLength = Model.DescriptionLength;
}

@section Head{
    @Html.Partial("_SyntaxHighlight")
}

@section Right{
    @Html.Partial("TagCloudControl")
    @Html.Action("ArchiveControl", "Blog")
}

<div class="Clear"></div>
@foreach (var post in Model.Set)
{
    @Html.Partial("_PostShortView", post)
}

<label class="StackLeft Prominant">@Html.Raw(Model.WhatIsListed)</label>
<div class="StackLeft" style="width: 100%;">
    @Html.Paging(Model.NumberOfPages)
</div>

@section Footer{
    @Html.Partial("_DisqusCommentCount")
}