@model zasz.me.ViewModels.PostListViewModel

@{
    ViewBag.Title = "Posts";
    ViewBag.DescriptionLength = Model.DescriptionLength;
}
                                                                                             
@section Head{
    @Html.Partial("_SyntaxHighlight")
}

@section Right{
    @Html.Partial("TagCloudControl")
    @Html.Action("ArchiveControl", "Blog")
}


<div class="Prominant">@Html.Raw(Model.WhatIsListed)</div>
@Render.Paging(Model.NumberOfPages)
<div class="Clear" ></div>
@foreach (var post in Model.Set)
{
    <div style="margin: 10px auto;">
        @Html.Partial(Model.NumberOfPages > 1 ? "_PostShortView" : "_PostFullView", post)
    </div>
}

@Render.Paging(Model.NumberOfPages)

@section Bottom{
    @Html.Partial("_DisqusCommentCount")
}