@model zasz.me.ViewModels.PostListViewModel

@{
    ViewBag.Title = "Posts";
    ViewBag.DescriptionLength = Model.DescriptionLength;
}
                                                                                             
@section Head{
    @Html.Partial("~/Views/Post/_SyntaxHighlight.cshtml")
    @Social.Facebook() 
    @Social.Twitter()
}

@section Right{
    @Html.Partial("TagCloudControl")
    @Html.Action("ArchiveControl", "Blog")
}


<div class="Light-Message" style="float: left; font-size: 20px;">@Html.Raw(Model.WhatIsListed)</div>
<div style="float: right;">@Render.Paging(Model.NumberOfPages)</div>
<div class="Clear" ></div>
@foreach (var Post in Model.Set)
{
    <div style="margin: 10px auto;">
        @Html.Partial("~/Views/Blog/_PostShortView.cshtml", Post)
    </div>
}
<div style="margin: 20px auto; padding: 10px;">
    @Render.Paging(Model.NumberOfPages)
</div>

@section Bottom{
    @Html.Partial("~/Views/Post/_DisqusCommentCount.cshtml")
}