@{
    Layout = null;
}

@model Dictionary<string, System.Drawing.RectangleF>

@foreach (var bounds in Model)
{
    <a class="TagHover" 
       href="@Url.Action("Tag","Blog")/@bounds.Key"
       style="height: @(bounds.Value.Height)px; margin-left: @(bounds.Value.Left)px; margin-top: @(bounds.Value.Top)px; width: @(bounds.Value.Width)px;">
    </a>
}