@{
    ViewBag.Title = "About";
}

<script type="text/javascript">
    $(function() {
        $("#he").hover(function () {
            $('#HeArrow').show();
            return false;
        }, function () {
            $('#HeArrow').hide();
            return false;
        });
        $("#works").hover(function () {
            $('#WorkArrow').show();
            return false;
        }, function () {
            $('#WorkArrow').hide();
            return false;
        });
        $("#reads").hover(function () {
            $('#ReadArrow').show();
            return false;
        }, function () {
            $('#ReadArrow').hide();
            return false;
        });
        $("#plays").hover(function () {
            $('#PlayArrow').show();
            return false;
        }, function () {
            $('#PlayArrow').hide();
            return false;
        });
        
    });
</script>

<table>
    <tr>
        <td>
            <div class="Text">
                
                <div class="About">
                    <a id="he">he</a> likes
                    <a id="works">working</a>, 
                    <a id="reads">reading</a> and 
                    <a id="plays">playing</a>.
                </div> 
            </div>
            <img id="HeArrow" src="@Url.Content("~/Content/Images/HeArrow.png")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
            <img id="WorkArrow" src="@Url.Content("~/Content/Images/WorkArrow.png")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
            <img id="PlayArrow" src="@Url.Content("~/Content/Images/PlayArrow.png")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
            <img id="ReadArrow" src="@Url.Content("~/Content/Images/ReadArrow.png")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
        </td>
        <td>
            <img src="@Url.Content("~/Content/Images/Me.jpg")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <img src="@Url.Content("~/Content/Images/Play.jpg")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
        </td>
        <td>
            <a href="@Url.Content("~/Content/Images/Read.jpg")" target="_blank">
                <img src="@Url.Content("~/Content/Images/AboutRead.jpg")" alt="Chandirasekar Thiagarajan" title="Chandirasekar T"/>
            </a>
        </td>

    </tr>
</table>

@Social.Flair()

<div style="font-size: 5px">if you can read this, you're too close to the monitor.</div>
