@{
    ViewBag.Title = "About";
}

<script type="text/javascript">
    $(function () {
        $(".Arrow").hide();
        $(".Arrow-Link").hover(function () {
            $($(this).data('arrow')).show();
            return false;
        }, function () {
            $($(this).data('arrow')).hide();
            return false;
        });
    });
</script>

<div class="About-Padding">
    <div class="Left-Text">
        <div class="About-Text">
            <a data-arrow="#He-Arrow" class="Arrow-Link">Chandru</a> is a
            <a data-arrow="#Work-Arrow" class="Arrow-Link">software consultant</a> from Chennai, who enjoys
            <a data-arrow="#Read-Arrow" class="Arrow-Link">reading</a>,
            <a data-arrow="#Play-Arrow" class="Arrow-Link">gaming</a>, and creating all kinds of software.
        </div>
        <br />
        <p>
            I developed an interest in making software when I was in college. The power it offered was attractive.
            Among the offers, I chose and joined <a href="http://www.thoughtworks.com/" target="_blank">ThoughtWorks</a>
            straight out of college. I have learnt a lot being a developer and consultant for over 5 years and counting.
            during that time I loved solving problems for various clients, and they liked working with me as well (take a
            look at my <a href="http://in.linkedin.com/in/chandirasekar" target="_blank">linked-in profile</a> for their
            recommendations).
        </p>
        <br />
        <p>
            I am also an avid reader and gamer. I love traveling to and working out of new places. The wanderbug bites me often, but I always like to come back home once in a while.
        </p>
    </div>
    <img id="He-Arrow" src="@Url.Content("~/Content/Images/HeArrow.png")" alt="Chandirasekar Thiagarajan" class="Arrow"/>
    <img id="Work-Arrow" src="@Url.Content("~/Content/Images/WorkArrow.png")" alt="Chandirasekar Thiagarajan" class="Arrow"/>
    <img id="Play-Arrow" src="@Url.Content("~/Content/Images/PlayArrow.png")" alt="Chandirasekar Thiagarajan" class="Arrow"/>
    <img id="Read-Arrow" src="@Url.Content("~/Content/Images/ReadArrow.png")" alt="Chandirasekar Thiagarajan" class="Arrow"/>
    <div class="Right-Image">
        <img src="@Url.Content("~/Content/Images/Me.jpg")" alt="Chandirasekar Thiagarajan" title="T Chandirasekar" class="About-Image"/>
    </div>

    <div class="Below">
        <img src="@Url.Content("~/Content/Images/Play.jpg")" alt="Chandirasekar Thiagarajan" title="T Chandirasekar" class="About-Image"/>
        <a href="@Url.Content("~/Content/Images/Read.jpg")" target="_blank" style="margin-left: 8px;">
            <img src="@Url.Content("~/Content/Images/AboutRead.jpg")" alt="Chandirasekar Thiagarajan" title="T Chandirasekar" class="About-Image"/>
        </a>
    </div>
</div>
<div style="font-size: 5px">if you can read this, you're too close to the monitor.</div>
