<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/ForHtmlHelpers.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/BlueprintReset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Pro/Pro.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <meta name="robots" content="index, follow" />
    <link type="image/png" href="@Url.Content("~/Content/favicon.png")" rel="shortcut icon" />
    
    <!-- For Visual Studio IntelliSense -->
    @if (false) { <script src="~/Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script> }

    @RenderSection("Head", false)
   
    <script type="text/javascript">
        $(document).ready(function () {
            AttachClickHandlers();
        });

        var StatusExpanded = false;
        var BodyClickedHandlers = new Array();

        function AttachClickHandlers() {

            $('body').click(BodyClicked)
            $('#Status-History-Expand-Button').click(ExpandStatus);
        }


        function BodyClicked() {
            jQuery.each(BodyClickedHandlers, function () {
                this();
            })
        }

        function ExpandStatus() {
            if (StatusExpanded)
                CloseStatus();
            else {
                BodyClickedHandlers.push(CloseStatus);
                $('#Status-History').toggleClass('Status-History Status-History-Expanded')
                StatusExpanded = true;
            }
            return false;
        }

        function CloseStatus() {
            if (StatusExpanded) {
                $('#Status-History').removeClass('Status-History-Expanded')
                $('#Status-History').addClass('Status-History')
                StatusExpanded = false;
            }
        }

    </script>

</head>

<body class="Pro">

    <div class="Site-In-Center">
    
        <div class="Elevated-TopLeft-Padding"></div>
        <div class="Elevated-Top-Shadow"></div>
        <div class="Elevated-TopRight-Shadow"></div>
        <div class="Clear"></div>

        <div class="Elevated-Right-Shadow">
            <div class="Elevated">
                <div class="Header">
                        <div class="Header-Left">
                            <div class="Site-Name">ChandruOn.NET</div>  
                            <div class="Site-Sub">My name is T Chandirasekar I share my thoughts here</div>  
                            <ul class="Main-Menu">
                                <li class="Main-Menu-Item">Home</li>
                                <li class="Main-Menu-Item"><a href="/Post/List">Writings</a></li>
                                <li class="Main-Menu-Item">Portfolio</li>
                                <li class="Main-Menu-Item">About</li>
                                <li class="Main-Menu-Item">Contact</li>
                            </ul>
                        </div>
                        <div class="Header-Right">
                            <div class="Description">I'm a <div class="Focus-Description">Consultant</div></div>
                            <div class="Description">I often play <div class="Focus-Description">Developer</div></div>
                            <div class="Description">
                                <div class="Status-History-Expand-Button" id="Status-History-Expand-Button"></div>
                                <ul class="Status-History" id="Status-History">
                                    <li>I work at <div class="Focus-Description">ThoughtWorks</div></li>
                                    <li>I graduated an Engineer at <div class="Focus-Description">Anna University</div></li>
                                    <li>I hung around <div class="Focus-Description">Aveo Infotech</div></li>
                                    <li>I live in <div class="Focus-Description">Chennai</div></li>
                                </ul>
                            </div>
                        </div>                        
                </div>
                <div class="Pro-Body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="Clear"></div>

        <div class="Bottom-Shadowless"></div>
    </div>
</body>
</html>


