@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "Show";
    Layout = "_StarcraftBlue.cshtml";
}

<p>Show</p>
@Twitter.Faves("zasz9279")
@Twitter.FollowButton("zasz9279")

@Facebook.Facepile()

@Facebook.GetFacebookUserProfile()

@Facebook.Recommendations()

@Facebook.LiveStream()


<center>
<br/>
<!-- Facebook Badge START --><a href="http://en-gb.facebook.com/Chandirasekar.Zasz" title="Chandirasekar Zasz" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;">Chandirasekar Zasz</a><span style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; line-height: 16px; font-variant: normal; font-style: normal; font-weight: normal; color: #555555; text-decoration: none;">&nbsp;|&nbsp;</span><a href="http://en-gb.facebook.com/facebook-widgets/" title="Make your own badge!" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;">Create your badge</a><br/><a href="http://en-gb.facebook.com/Chandirasekar.Zasz" title="Chandirasekar Zasz" target="_TOP"><img src="http://badge.facebook.com/badge/815596121.2578.703699520.png" width="360" height="265" style="border: 0px;" /></a><!-- Facebook Badge END -->
<br/>
</center>

<a href="http://eu.playstation.com/psn/profile/Zasz9279/"><img src="http://mypsn.eu.playstation.com/psn/profile/Zasz9279.png" border="0" /></a>
+<br/>