@model zasz.me.Areas.Shared.Controllers.PostController.PostListModel

@{
    ViewBag.Title = "Posts";
    ViewBag.DescriptionLength = Model.DescriptionLength;
    var SplitPath = Request.Path.Split(new [] {'/'});
    var LastSplit = SplitPath[SplitPath.Length - 1];
    var PagePath = Request.Path + "/";
    var PreviousPath = "";
    var CurrentPage = 1;
    var NextPath = PagePath + "2";
    bool PreviousEnabled = false;
    bool NextEnabled = Model.NumberOfPages > 1;
    if(LastSplit.Is<int>()) 
    { 
        PagePath = Request.Path.Substring(0, Request.Path.Length - LastSplit.Length);
        CurrentPage = int.Parse(LastSplit);
        
        NextEnabled = CurrentPage < Model.NumberOfPages;
        PreviousEnabled = CurrentPage > 1;
        PreviousPath = PagePath + (CurrentPage - 1);
        NextPath = PagePath + (CurrentPage + 1);
    }
    
}

@*      --= Pro Area =--      *@

@section Right{
    @Html.Action("TagCloudControl", "Writings")
    @Html.Action("ArchiveControl", "Writings")
}

<div style="margin: 20px 20px 20px 25px;">@Model.WhatIsListed</div>

@foreach (var Post in Model.Posts)
{
    <div style="margin: 20px auto;">
        @Html.Partial("~/Areas/Pro/Views/Writings/_PostShortView.cshtml", Post)
        <br />
        <br />
    </div>    
}


@if (Model.NumberOfPages > 1)
{
    <div class="Paging">
        @if (PreviousEnabled)
        { <a href="@PreviousPath">Previous</a> }
        else
        { <span class="DisabledPrevNext">Previous</span> }
    @for (int i = 1; i <= Model.NumberOfPages; i++)
    {
        if (i == CurrentPage)
        { <span class="Current">@i</span> }
        else
        { <a href="@(PagePath + i)">@i</a> }
    }
    @if (NextEnabled)
    { <a href="@NextPath">Next</a> }
    else
    { <span class="DisabledPrevNext">Next</span> }
    </div>
}

@section Bottom{
    @Html.Partial("~/Areas/Shared/Views/Post/_DisqusCommentCount.cshtml")
}