@{
    Layout = null;
}

@model Dictionary<string, System.Drawing.RectangleF>

<div class="Sidebar-Control">
<div class="Sidebar-Title">Disorganizer&trade;</div>
<div class="TagCloud">
@foreach(var Bounds in Model)
{
    <a class="TagHover" 
    href="/Writings/Tag/@(Bounds.Key)"
    style="margin-left: @(Bounds.Value.Left)px; margin-top: @(Bounds.Value.Top)px; width: @(Bounds.Value.Width)px; height: @(Bounds.Value.Height)px">
    </a>
}
<img style="position:absolute;" src="@Url.Content("~/Content/Pro/Images/Cloud.png")" alt="Tag cloud" />
</div>
</div>
