@using zasz.me.Shared.Models
@model Post
           

@*      --= Pro Area =--      *@


<div class="Post">

<a class="Post-Title" href="/Blog/Post/@Model.Slug">@Model.Title</a>
<div class="Metadata">Posted by Chandru on @Model.Timestamp.ToString("f")</div>
<p>@Html.Raw(Model.GetDescription(ViewBag.DescriptionLength))  &nbsp;&nbsp; <a href="/Blog/Post/@Model.Slug">Read the full entry</a></p>
@Html.Partial("~/Shared/Views/Post/_PostFooter.cshtml", Model)
<br />
<a href="/Blog/Post/@Model.Slug#disqus_thread" data-disqus-identifier="@Model.Slug">Comments And Reactions</a>

</div>
