@{
	Layout = null;
}

@model Dictionary<string, System.Drawing.RectangleF>

<div class="Sidebar-Control">
<div class="Sidebar-Title">Disorganizer&trade;</div>
<div class="TagCloud">
@if(null == Model)
{
	<div>Tag some posts to show a cloud here.</div>
}
else
{
	foreach(var Bounds in Model)
	{
		<a class="TagHover" 
		href="/Blog/Tag/@(Bounds.Key)"
		style="margin-left: @(Bounds.Value.Left)px; margin-top: @(Bounds.Value.Top)px; width: @(Bounds.Value.Width)px; height: @(Bounds.Value.Height)px">
		</a>
	}
<img style="position:absolute;" src="@Url.Content("~/Content/Pro/Images/Cloud.png")" alt="Tag cloud" />
}
</div>
</div>

<a class="Modal" href="#TagCloud">More</a>

<div id='TagCloud' style="display: none; width: 400px" class="Pro-Popup">	
	<h1 class="Sidebar-Title" style="text-align:center;">Disorganizer&trade; Tag Cloud by &copy;Chandru</h1>
	<p>The Disorganizer&trade; Tag Cloud is inspired by <a target="_blank" href="http://www.wordle.net/">Wordle</a> and 
	<a target="_blank" href="http://www.tagcloud.com/">TagCloud</a>.</p> 
	<br />
	<p>Both of those sites do not give you an on-the-fly
	cloud generation functionality which can be put into a blog, or a profile. Nor do they allow you to click on the tags and show hover animation on the tags,
	 so I wrote this one using tools and classes in the .net 
	System.Drawing namespace.</p> 
	<br />
	<p>Go <a href="/Disorganizer/Tinker" target="_blank">here</a> to see what features you have with this utility.
	Hit F5 key or Refresh button on the browser to see a new Cloud :)
	</p>
	<br />
	<p>Thanks to <a href="http://www.cooltext.com/">Cooltext</a> for the nice fonts, and to <a href="http://www.stackoverflow.com/">StackOverflow</a>
	 community for the invaluable answers.</p> 
</div>
